<h1 mat-dialog-title>Add Information</h1>

<div mat-dialog-content>
    <form [formGroup]="contactForm">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input formControlName="middleName" matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="pat@example.com">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input formControlName="birthMonth" matInput placeholder="Month Day Year">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Interest</mat-label>
            <input formControlName="interest" matInput placeholder="Placeholder">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button style="margin-right: 14px;" mat-raised-button color="primary" (click)="addData()">Save</button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
